<p id="notice"><%= notice %></p>

<div align="center">
  <div class="form-body">
    <h3>Help</h3>
    <ol align="left">
      <li>わからない単語があれば、ホームページから検査できます。</li>
      <li>単語帳に好きな単語を追加できます。</li>
      <li>楽しんで使いましょう！</li>
    </ol>
  </div>
</div>
