<div align="center">
  <h2>Weblioでわからない単語をサーチ</h2>
  <div class="form-body div-wide div-table" align="left">
    <table class="float-left">
      <tr>
        <td>
          <input type="text">
        </td>
        <td>
          <span class="jp-space"></span>
          <button id="search" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
        </td>
      </tr>
    </table>
  </div>
  <div class="form-body div-wide">
    <iframe src=""></iframe>
  </div>
  <div class="form-body div-wide">
    <h3>
      <span class="glyphicon glyphicon-education"></span><span class="space"></span>
      検査の結果はWeblioより
    </h3>
  </div>
</div>
